In [ ]:
name=9
## TYPE RETURNS THE DATA TYPE OF THE VARIABLE
type(name)

FLOOR DIVISION

In [1]:
5/2

2.5

In [2]:
5//2

2

LEAP YEAR OR NOT

In [7]:
year=int(input('Enter a year'))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(f'{year} is leap year')
        else:
            print(f'{year} is not leap year')
        
    else:
        print(f'{year} is leap year')
else:
     print(f'{year} is not leap year')

3000 is not leap year

USER LOGIN SYSTEM

In [8]:
username='username'
password='password'

id=input('enter username')
pswrd=input('enter password')

if id!=username:
    print('username not found')
else:
    if pswrd!=password:
        print('incorrect password')
    else:
        print('Login Successful')

Login Successful

LOOPS

for i in range(0,40) ->0-39

for i in range(0,10,2) ->0,2,4,6,8

for i in range(10,1,-1) ->10,9,8,7...2

In [10]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [11]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

prime no.from 1-100

In [48]:
for i in range(1,100):
  if i>1: 
    for j in range(2,i):
      if i%j==0:
       break
      elif j==i-1:
        print(i)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

LISTS

In [50]:
fruits=['apple','banana','watermelon']
fruits[1]='kiwi'

In [51]:
fruits

['apple', 'kiwi', 'watermelon']

In [52]:
fruits[1:]

['kiwi', 'watermelon']

In [53]:
fruits[1:]='kiwi'

In [54]:
fruits

['apple', 'k', 'i', 'w', 'i']

In [55]:
fruits.append('cherry')

In [56]:
fruits.insert(1,'banana')

In [57]:
fruits

['apple', 'banana', 'k', 'i', 'w', 'i', 'cherry']

In [58]:
popped=fruits.pop()
popped

'cherry'

In [59]:
fruits.remove('banana')

In [60]:
fruits

['apple', 'k', 'i', 'w', 'i']

In [61]:
fruits.index('i')

2

In [63]:
fruits.count('i')

2

In [64]:
fruits.sort()

In [65]:
fruits

['apple', 'i', 'i', 'k', 'w']

In [66]:
fruits.reverse()

In [67]:
fruits

['w', 'k', 'i', 'i', 'apple']

In [68]:
fruits.clear()

In [69]:
fruits

[]

LIST COMPRHENSIONS

## [x**2 for x in range(4)]
## [num for num in range(11) if num%2==0]
## [[i,j] for i in range(10) for j in range(10,20)]
## [len(words) for word in list1]