In [3]:
my_set={1,2,3,4,50}
a=set([1,1,1,3,3,4,5,6])
a

{1, 3, 4, 5, 6}

In [4]:
type(a)

set

In [5]:
my_set.add(9)

In [6]:
my_set.remove(3)

In [7]:
my_set.remove(20)

KeyError: 20

In [9]:
## .remove() WILL GIVE ERROR IF ELEMENT IS NOT PRESENT BUT .discard() WILL NOT 
my_set.discard(20)

In [10]:
popped=my_set.pop()
my_set.clear()

In [11]:
print(3 in a)
print(20 in a)

True
False

MATHEMATICAL OPERATIONS ON SET

In [13]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

In [15]:
## UNION
union_set=set1.union(set2)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
## INTERSECTION
intersection_set=set1.intersection(set2)
intersection_set

{4, 5, 6}

In [17]:
## DIFFERENCE
diff=set1.difference(set2)
diff

{1, 2, 3}

In [19]:
## SYMMETRIC DIFFERENCE
symmetric_diff=set1.symmetric_difference(set2)
symmetric_diff

{1, 2, 3, 7, 8, 9}

In [20]:
## SUBSET
set1.issubset(set2)

False

In [22]:
set1.issuperset(set2)

False

TO COUNT UNIQUE WORDS IN A STRING

In [27]:
text='hello my name is Burhanuddin is Bankwala'
unique_words=set(text.lower().split())
unique_words

{'bankwala', 'burhanuddin', 'hello', 'is', 'my', 'name'}